@using ArtSite
@{
    ViewBag.Title = "About Us";
}

    @Html.Partial("LandingPage")

      @{         
             var h = HitCounter.GetHits(); ;
            <span>this site has been hit <b>[@h]</b> times</span>
    }