
    <style> 
        #hometext{ font-family: Cochin; font-size:16px; font-weight:bold; font-style:italic; margin: auto;}/*background-color: #eee; }*/
    </style>



    <div id="hometext">
               
        <div style="padding: 20px; text-align:left;">

            <h2 style="text-align: center;"> Welcome to Art1st Leeds website.</h2>

                    <p>We are a group of six artists with different styles and approaches who have studied, worked and exhibited together for more than ten years.</p>

                    <p>Based in Calverley, Leeds, our studio offers us a space within which  our creative interaction and discussions can  develop into a mutually 
                        beneficial environment resulting in a diverse and stimulating  body of work.
                    </p>

                    <p>
                We have over the years put on our own exhibitions in galleries, mills and auction  houses to the advantage of a particular charity or for raising funds for the requirements of our art association.
            </p>

                    <p>
            As individuals,  our work is displayed in private homes  from UK to Canada, Miami, Spain, Poland, Japan, Hong Kong, Australia, New Zealand, Dubai.</p>
        </div>

    </div>


