/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
   
    font-family: Cochin;
     font-size:16px; 

    color: #696969;
    background-color: black;    
    margin:20px 0px; padding:0px;
	text-align:center;
	
}


.borderOuter
{
	margin:10px 5% auto;
   /* padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;*/
    padding: 20px;
	background-image: url(../images/blue_gradient.gif);
	
	background-repeat: repeat; 
	border-style:solid;
	border-width:1px;
	border-color:grey;
}

.borderInner
{
	background-color:white;
	position: relative;
	border-style:solid;
	border-width:1px;
	border-color:grey;
    
}

.main
{
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:#4A8EAD;

}

.borderOuterHome
{
	width:800px;
	height:800px;
	margin:0px auto;
	background-image: url(../images/blue_gradient.gif);
	background-repeat: repeat; 
	border-style:solid;
	border-width:1px;
	border-color:grey;
}

.borderInnerHome
{
	background-color:white;
	margin: 0px  auto;
	position: relative;
	border-style:solid;
	border-width:1px;
	border-color:grey;
	top: 20px;
	width:760px;
	height:760px;
}

.mainHome
{
	background-color:white;
	margin: 20px 20px auto;
	
	border-style:solid;
	border-width:1px;
	border-color:#4A8EAD;
	
	width:720px;
	height:700px;
	
}

.headingBox
{
	font-style:oblique;
	font-size:16;
	margin: 10px 10px auto ;	
	width:700px;
	height:100px;
	background-color:#09213B;
	box-shadow: 10px 10px 5px #888888;
	color:white;
    padding-top: 10px;
}

.headingBoxWide
{
	font-style:oblique;
	font-size:16;
	margin: 10px 10px auto ;	
	height:100px;
	background-color:#09213B;
	box-shadow: 10px 10px 5px #888888;
	color:white;
    padding-top: 10px;
}


#mainContainer {
	width:720px;
	
}
#subHeader {
	float:left;
	width:325px;
	margin-left:25px;
	border-style:dashed;
	border-width:1px;
	border-color:grey;
	text-align:left;
}
#sidebar {
	float:left;
	width:325px;
	margin-left:20px;
	border-style:dashed;
	border-width:1px;
	border-color:grey;
	text-align:right;
}
#subFooter {
	clear:both;
}



.blogClass
{
    overflow: auto;
    height: 470px;         
    border-width: thin;
    background-color: white;
   
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

#artistHeader 
{
    text-align: left;
    margin-bottom: 0;
    display: inline;
}

header,
footer,
nav,
section {
    display: inline;
}

/* HEADINGS   
----------------------------------------------------------*/
/*h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}*/

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
   /** width: 90%;**/
    margin-left: auto;
    margin-right: auto;
}



header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #000;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#menucontainer
{
    display: inline-block;
    float:right; 
    padding-right:100px;
}

.paddedDiv
{
   padding: 0 1.4em 1.4em 1.4em;
}

#main {
    padding: 30px 0px 15px 30px;    
   /** background-color: white;**/
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
     min-width: 612px;
    width: auto;
   
    margin: auto;
}

footer, 
#footer {
   
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;   
    background-color: white;
    margin-right:20px;
    margin-left: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}



#title {
    text-align: center;
}

#logindisplay {
    font-size: 1.1em;
    text-align: right;
    margin: 10px;

}

#logindisplay a:link {
    color: dimgray;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: dimgray;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;    
}

.picture-editor-label
{
    margin: 5px 0 0 5px;      
    width: 50px;
    float: left;

}
.picture-editor-field
{
    margin: 0.5em 0 0 0;   
    float: left;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


.contactInfo
{
    float: right;
    width: 272px;
    margin-right: 10px;
}

.contactIcon{	
	float:left;
	width:40px;
	padding-bottom:19px;
	text-align:center;
	margin-right:20px;
	}
	
